[Unit]
Description=Single Ansible run as a single run service
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/bin/bash /usr/local/bin/ansible-start.sh
ExecStop=/bin/false
User=root

[Install]
WantedBy=multi-user.target
